section.titulo-descriptivo{
    background-image: url(../img/fondo-exp-bk.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
}

.titulo-descriptivo {
    padding-top: 75px;
    padding-bottom: 25px;
}

.num-exp {
    font-size: 6rem;
    font-weight: bold;
}

.anios-exp {
    color: #FFFFFF;
}

.subt-exp {
    text-align: right;
    padding-bottom: 75px;
    margin-right: 25px;
    font-size: 2rem;
}

.texto-descripcion {
    color: #ffffff;
    font-weight: 800;
}

.tag-experiencia {
    color: #FFFFFF;
}

.texto-exp {
    margin-left: 25px;
    font-size: 1rem;
    color: #FFFFFF;
}

.titulo-card-exp {
    color: #FFFFFF;
    font-weight: 600;
}

.exp-der {
    display: inline;
}